@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&family=Share+Tech+Mono&display=swap');

.h2-Body {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-primary);
    position: relative;
    margin: 50px auto 20px auto;
    width: 100%;
    max-width: 1000px;
    padding-left: 10px;
    align-self: flex-start;
    box-shadow: var(--bg-secondary);
}

.h2-Who {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-primary);
    position: relative;
    margin-top: 20px;
    align-self: flex-start;
    margin-left: 17%;
    font-family: 'Rajdhani';
    border: 1px solid var(--accent-color);

    /* Alineado con la tarjeta (que tiene 65% width -> 17.5% margin auto aprox) o simplemente un poco de margen */
}

.body-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-main {
    box-shadow: 0 4px 6px var(--accent-color);
    /* Sombra suave para dar profundidad */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    height: auto;
    background-color: var(--bg-secondary);
    border-radius: 20px;
    margin: 20px auto;
}

.div-main-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.avatar-main {
    width: 100%;
    max-width: 700px;
    height: auto;
    object-fit: cover;
    margin-left: -50px;
}